<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>注册界面</title>
		<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
		<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
		<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
		<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
		<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<!--导入自己编写的css文件-->
		<link rel="stylesheet" href="css/register.css" type="text/css" />
	</head>
	<body>
		<div class="form-bg">
			<h1><a><img src="img/2.png"/></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<small>欢迎您注册</small></h1>
		</div>
			
		<div class="container" style="background-color: #bbffee;">
		
		<div class="row">
			<form class="form-horizontal register" action="#" th:action="@{/updateUser}" th:object="${user}" method="post" enctype="multipart/form-data">
			    <div class="form-group">
			        <input th:field="*{userid}"  type="hidden">
			        <label class="col-lg-2 control-label" for="username">用户名<small>(必填)</small></label>
			        <div class="col-lg-4">
			        
			            <input class="form-control" id="username" th:field="*{username}"      type="text"  />
			            <span id="checkName"></span>
			        </div>
			    </div>
			    <div class="form-group">
			        <label class="col-lg-2 control-label"    for="password">密码<small>(必填)</small></label>
			        <div class="col-lg-4">
			            <input class="form-control"   th:field="*{password}"  id="password" name="password" type="password"/>
			        </div>
			        <div class="col-lg-5">
			            <div class="btn-group" role="group">
			                <button type="button" class="btn btn-success active">密文</button>
			                <button type="button" class="btn btn-default">明文</button>
			            </div>
			        </div>
			    </div>
		  <div class="form-group">
		        <label class="col-lg-2 control-label" for="portrait">头像</label>
		        <div class="col-lg-4">
		            <input class="form-control"  name="photo"  type="file" />
		           <!--  <img id="showPortrait" src="" alt=""/>
		            <span class="help-block">支持上传GIF,JPG,PNG图片，尺寸为70*70</span> -->
		        </div>
		    </div> 
		    <div class="form-group">
		        <label class="col-lg-2 control-label" for="phone">电话<small>(必填)</small></label>
		        <div class="col-lg-4">
		            <input class="form-control" th:field="*{phone}"    type="text"/>
		            <span class="help-block">电话号码为11位<button type="button" id="sendMessage" class="btn btn-primary">获取验证码</button>
                      <span id="mess"></span>  </span> 
		        </div>
		    </div>
		    <div class="form-group">
		        <label class="col-lg-2 control-label" for="email">验证码<small>(必填)</small></label>
		        <div class="col-lg-4">
		            <input class="form-control"   id="checkCode"  type="text"/>
		            <span class="help-block">请输入四位验证码    <span id="codeMess"></span>   </span>
		        </div>
		    </div> 
		    <div class="form-group">
		    	<label class="col-lg-2 control-label" for="sex">性别</label>
			    <div class="radio">
						 <label>
						    <input type="radio"  th:field="*{sex}"  name="sex" id="optionsRadios1" value="1" checked>男&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						    <input type="radio"  th:field="*{sex}"   name="sex" id="optionsRadios2" value="0">女
					  	 </label>
				</div>
			</div>
		    <div class="form-group">
		        <div class="col-lg-offset-2 col-lg-4">
		            <button class="btn btn-primary btn-block" type="submit">修改</button>		            
		        </div>
		    </div>
		</form>
	</div>
	</div>
	</body>
</html>
<script>
	
	

/* 注册验证 */
    // 用户名验证
   /*  $('#username').blur(function(){
	   var username=$('#username').val();
	   $.ajax({
		   url:"checkUsername",
   		   type:"post",
   		  data:{"username":username},
   		   dataType:"json",
			  cache:"false",
			   async:"true",
			   success:function(data){
				   if(data=="1"){
					   $('#checkName').html("用户名可用").css("color","green");
				   }else{
					   $('#checkName').html("用户名已存在").css("color","red");
				   }
				   
				   
			   }
		   
	   })
   }); */
 
    

    // 电话
    $('#phone').focus(function() {
        $(this).on('input', function() {
            if($(this).val().length == 0) {
                $(this).parents('.form-group').addClass('has-error');
            } else {
                $(this).parents('.form-group').removeClass('has-error');
            }
        });
    }).blur(function() {
        if($(this).val().length != 11) {
            $(this).parents('.form-group').addClass('has-error');
        }
    }); 
     //点击发送
    $('#sendMessage').click(function(){
    	var phone=$('#phone').val();
    	$.ajax({
    		url:"sendMessage",
    		type:"post",
    		data:{"phone":phone},
    		 dataType:"json",
			  cache:"false",
			   async:"true",
			   success:function(data){
				   if(data=="1"){
					   $('#mess').html("短信已发送").css("color","green");
				   }else{
					   $('#mess').html("短信发送失败").css("color","red");
				   }
				   
				   
			   }
    	})
    });
    
    
  
    
    
    //短信验证码
    $('#checkCode').blur(function() {
    	var code=$('#checkCode').val();
       $.ajax({
    	   url:"checkCode",
          data:{"code":code},
          type:"post",
		  dataType:"json",
		  cache:"false",
		   async:"true",
		   success:function(data){
			   if(data=="1"){
				   $("#codeMess").html("验证码正确").css("color","green");
			   }else{
				   $('#codeMess').html("验证码错误,请重新发送").css("color","red");
			   }
			   
		   }
       })
        
        
        
        
    });
	 
    
     
    
    
    
    
    // 提交验证
 /*    
$('.btn-primary').click(function() {
    $('.register input:not("[type=file]")').each(function() {
        if($(this).val().length == 0) {
            $(this).parents('.form-group').addClass('has-error');
        }
    });

    if($('.register .has-error').length > 0) {
        console.log($('.has-error'));
        return false;
    } else {
        $(this).parents('form').submit();
    }
}); */

</script>